<!-- Controls -->
<div class="row">
    <div class="col-md-4" ng-controller="PMKIDAttack_Dependencies">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Controls</h3>
            </div>
            <div class="panel-body">
                <table style="width:100%">
                    <tr>
                        <td style="padding-bottom: .5em;" class="text-muted">Dependencies</td>
                        <td style="text-align:right;padding-bottom: .5em;">
                            <button type="button" style="width: 90px;" class="btn btn-{{installLabel}} btn-xs"
                                    ng-click="managerDependencies()"
                                    ng-disabled="processing">
                                {{ install }}
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="$root.pmkid_installedDependencies">
    <div class="col-md-6" ng-controller="PMKIDAttack_AttackResults">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Captured WPA PMKID
                    <span ng-show="pmkids.length" class="badge">{{ pmkids.length }}</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive" ng-show="pmkids.length !== 0">
                    <table class="table table-hover">
                        <thead>
                        <tr class="default-cursor">
                            <th style="width: 100%;">Name</th>
                            <th>Log</th>
                            <th>Download</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pmkid in pmkids">
                            <td>{{ pmkid.name }}</td>
                            <td>
                                <button data-target="#viewLog" data-toggle="modal" class="btn btn-default btn-xs" ng-click="viewAttackLog(pmkid.file)">
                                    View Log
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-default btn-xs" ng-click="downloadPMKID(pmkid.file)">
                                    Download
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="deletePMKID(pmkid.file)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="pmkids.length === 0 && !pmkidsLoading">
                    No PMKID results.
                </div>
                <div ng-if="pmkids.length === 0 && pmkidsLoading">
                    <img src="img/throbber.gif">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-controller="PMKIDAttack_ScanLoad">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Scan Results
                    <span class="label label-warning" ng-show="$root.pmkid_captureRunning">Running Attack on {{ $root.pmkid_bssid }}</span>
                    <span class="pull-right">
                        <button type="button" class="btn btn-default btn-xs btn-fixed-length pull-right" ng-click="getScans();">
                            Refresh
                        </button>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon">Scans Location</span>
                    <input class="form-control" ng-model="scanLocation" ng-disabled="running || loading">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="setScanLocation()" ng-disabled="running || loading">Set</button>
                    </span>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Scan</span>
                    <select class="form-control" ng-options="scan.date for scan in scans | filter:shouldShowScan track by scan.scan_id" ng-model="selectedScan" ng-disabled="scans == '' || running"></select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="displayScan();" ng-disabled="running || loading || scans == ''">Load</button>
                        <button class="btn btn-default" ng-click="removeScan();" ng-disabled="running || loading || scans == ''">Remove</button>
                    </span>
                </div>
                <br/>

                <img ng-show="loadingScan" src="img/throbber.gif"/>
                <p class="alert well-sm alert-success" ng-show="setLocationSuccess">Succcessfully set scan location.</p>
                <p class="alert well-sm alert-success" ng-show="removedScan">Succcessfully removed scan.</p>
                <p class="alert well-sm alert-info" ng-show="scans == '' && !running">There are no scans available. Please run <a href="#!/modules/Recon">Recon</a> at least once.</p>
                <p class="alert well-sm alert-danger" ng-show="error">{{ error }}</p>

                <div class="btn-group" ng-show="$root.pmkid_captureRunning">
                    <button type="button" class="btn btn-default" ng-disabled="$root.pmkid_captureRunning">
                        <img class="button-throbber" src="img/throbber.gif">
                    </button>
                    <button type="button" class="btn btn-default" ng-click="$root.pmkid_stopAttack()">
                        Stop Attack
                    </button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#viewLog"
                            ng-disabled="$root.pmkid_pmkidLog.length === 0">
                        View Log
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="$root.pmkid_installedDependencies">
    <div class="col-md-12" ng-controller="PMKIDAttack_ScanResults">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Scan Results
                    <span ng-show="$root.pmkid_accessPoints.length" class="badge">{{ $root.pmkid_accessPoints.length }}</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover" ng-hide="($root.pmkid_accessPoints.length == 0)">
                        <thead>
                        <tr class="default-cursor">
                            <th ng-click="orderByName='ssid'; reverseSort = !reverseSort">SSID <span
                                    ng-show="orderByName=='ssid'"><span class="caret" ng-show="reverseSort"></span><span
                                    class="caret caret-reversed" ng-show="!reverseSort"></span></span></th>
                            <th ng-click="orderByName='bssid'; reverseSort = !reverseSort">MAC <span
                                    ng-show="orderByName=='bssid'"><span class="caret"
                                                                         ng-show="reverseSort"></span><span
                                    class="caret caret-reversed" ng-show="!reverseSort"></span></span></th>
                            <th ng-click="orderByName='encryption'; reverseSort = !reverseSort">Security <span
                                    ng-show="orderByName=='encryption'"><span class="caret"
                                                                              ng-show="reverseSort"></span><span
                                    class="caret caret-reversed" ng-show="!reverseSort"></span></span></th>
                            <th ng-click="orderByName='power'; reverseSort = !reverseSort">Signal <span
                                    ng-show="orderByName=='power'"><span class="caret"
                                                                         ng-show="reverseSort"></span><span
                                    class="caret caret-reversed" ng-show="!reverseSort"></span></span></th>
                            <th ng-click="orderByName='lastSeen'; reverseSort = !reverseSort">Last Seen <span
                                    ng-show="orderByName=='lastSeen'"><span class="caret"
                                                                            ng-show="reverseSort"></span><span
                                    class="caret caret-reversed" ng-show="!reverseSort"></span></span></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="accessPoint in $root.pmkid_accessPoints|orderBy:orderByName:reverseSort"
                            ng-show="accessPoint.encryption != 'Open'">
                            <td class="autoselect">
                                <span class="text-info" ng-hide="accessPoint.ssid"><i>Hidden</i></span>
                                {{ accessPoint.ssid }}
                            </td>
                            <td>
                                <span ng-bind-html="(hasNote(accessPoint.bssid) === true ? accessPoint.bssid.italics() : accessPoint.bssid) | rawHTML"></span>
                            </td>
                            <td>
                                {{ accessPoint.encryption }}
                            </td>
                            <td>{{ accessPoint.power }}</td>
                            <td class="autoselect">{{ accessPoint.lastSeen | timesinceepoch }}</td>
                            <td>
                                <button type="button" ng-click="$root.pmkid_startAttack(accessPoint.ssid, accessPoint.bssid)"
                                        ng-disabled="$root.pmkid_captureRunning"
                                        class="btn btn-default btn-xs">Attack
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="($root.pmkid_accessPoints.length === 0) && !running">
                    No scan results.
                </div>
                <div ng-if="($root.pmkid_accessPoints.length === 0) && running">
                    <img src="img/throbber.gif">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="PMKIDAttack_Log" class="panel panel-default ng-scope" ng-controller="PMKIDAttack_Log">
            <div class="panel-heading pointer" data-toggle="collapse" data-target="#log">
                <h3 class="panel-title">
                    Log
                    <button class="btn btn-default btn-xs btn-fixed-length pull-right" ng-click="clearLog(); $event.stopPropagation();">
                        Clear
                    </button>
                    <button class="btn btn-default btn-xs btn-fixed-length pull-right" ng-click="refreshLog(); $event.stopPropagation();">
                        Refresh
                    </button>
                </h3>
            </div>
            <div id="log" class="panel-collapse collapse">
                <div class="panel-body">
                    <img ng-show="moduleLogLading" src="img/throbber.gif">
                    <p ng-show="moduleLog === '' && !moduleLogLading">No log entries found yet.</p>
                    <pre class="scrollable-pre log-pre ng-binding" ng-hide="moduleLog === ''">{{ moduleLog }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewLog" tabindex="-1" role="dialog" aria-labelledby="captureModalLabel"
     style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title ng-binding" id="captureModalLabel">View Log</h4>
            </div>
            <div class="modal-body">
                <pre class="scrollable-pre log-pre ng-binding">{{ $root.pmkid_pmkidLog }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // dirty hack for handle bootstrap events
    $(function() {
        $('#PMKIDAttack_Log').on('shown.bs.collapse', function (event) {
            angular.element(event.currentTarget).scope().refreshLog();
        });
    });
</script>